@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.maven-pro-font {
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none;
}

/* Welcome Page CSS */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("./assets/welcome.jpg"); */
  background-size: cover;
  background-position: center;
}

.container_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn_create_acc {
  background-color: #00ffbb;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-top: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.left_box {
  flex: 1;
  margin: 0 auto;
}

.left_box h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/*Mobile View*/
@media screen and (max-width: 768px) {
  .container_content {
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
  }

  .container_content{
    min-height: 100vh;
  }

  .btn_create_acc{
    margin-top: 0.5rem;
  }
  
}


/*Notes Home Page CSS*/
.notes_container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .notes_container{
    flex-direction: column;
  }
}