@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.fa {
  cursor: pointer;
}

.maven-pro-font {
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none;
}

/* Welcome Page CSS */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 60%;
  border-radius: 5px;
  margin-top: 8rem;
  background-color: rgba(255, 255, 255);
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn_create_acc {
  background-color: #00ffbb;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-top: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.left_box {
  flex: 1;
  margin: 0 auto;
}

.left_box h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/*Mobile View*/
@media screen and (max-width: 768px) {
  .container_content {
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    margin: 1rem;
  }

  .btn_create_acc {
    margin-top: 0.5rem;
  }

}

/*Notes Home Page CSS*/
.notes_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.add_note__container {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem;
  /* Centering a div in body */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@media screen and (max-width: 450px) {
  .notes_container {
    flex-direction: column;
  }

  .add_note__container {
    width: 90%;
    padding: 1rem;
  }
}

/*Alert CSS*/
.alert__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  text-align: center;
}

.success__alert {
  background-color: #00ffbb;
  color: #000;
  font-weight: 500;
}

.danger__alert {
  background-color: #ff0000;
  color: #fff;
  font-weight: 500;
}